html, body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  image-rendering: pixelated;
}

body {
  max-width: 48rem;
  margin: auto;
}

.banner {
  margin-block: .65625em;

  font-size: 2em;
  font-weight: bold;
}

.vcenter {
  display: flex;
  gap: .5em;
  align-items: center;
}
